<div class="row">
    <div class="col-md-2">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="table-id">#</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of modules; let i=index" class="no-top-border" (click)=onSelect(m)>
                    <td>{{ i+1 }}</td>
                    <td class="nowrap">{{ m }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-10">
        <div *ngFor="let mod of modules">
            <content [module]="mod" *ngIf="selectedModule==mod"></content>
        </div>
    </div>
</div>