
<div class="row">
  <schema-form class="col-md-12" [schema]="schema" [actions]="actions" [model]="model" (onChange)="val=$event.value"></schema-form>
</div>
<div class="row">
  <div class="col-md-12">
    <ba-card title={{this.module}} baCardClass="with-scroll table-panel">
      <div class="horizontal-scroll">
        <table class="table table-condensed">
          <thead>
          <tr>
            <th class="table-id">#</th>
            <th *ngFor="let col of columns">{{col}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let obj of objects; let i=index">
            <td class="table-id">{{ i+1 }}</td>
            <td *ngFor="let col of columns">{{ obj.value[col] }}</td>
            <td>
              <button ngClass="{status-button btn btn-xs btn-danger" (click)="delete(obj); $event.stopPropagation()">Delete</button>
              <button ngClass="{status-button btn btn-xs btn-warning" (click)="modify(obj)">Modify</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </ba-card>
  </div>
</div>
